* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.main {
    margin-top: 80px;
    padding: 20px;
  }
  
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
  }  

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container h2 {
    margin-top: 20px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}


.about {
    background-color: #ffffff;
    padding: 50px 0;
}

.about .container {
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 40px;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
}

.services {
    background-color: #fffc9e;
    padding: 50px 0;
}

.services .container {
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
}

.services p {
    margin-bottom: 40px;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.service {
    min-width: 200px;
    max-width: 400px;
    margin: 40px 20px;
    background-color: #F4E04D;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    transform: translateY(-5px);
}

.service img {
    width: 90%;
    border-radius: 5px;
}

footer {
    background-color: #F4E04D;
    color: #333;
    padding: 50px 0;
}

footer .container {
    text-align: center;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

.service:hover,
.team-member:hover {
    transform: translateY(-5px);
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.team-member {
    min-width: 200px;
    max-width: 600px;
    margin: 40px 20px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.team-member img {
    width: 90%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.team-member h3 {
    margin-bottom: 5px;
}

.team-member p {
    color: #666;
}

#real {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#zdjecia {
    width: 100vw;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.real1 {
    min-width: 200px;
    max-width: 300px;
    margin: 40px 20px;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.real1 img {
    width: 90%;
}
.graybox{
    background-color:#bdbdbd;
    height: 600px;
    padding-top: 20px;
}